---

---

<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" href="/assets/css/styles.css">

  </head>

  <body class = "bg">

    <div class = 'picofme'></div>

    <header class = "homepageheader">

      <div class="site-info homepagename">
        <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
      </div>

      <nav class = "homenav">
        <a href = '/blog/' class = "homelink">BLOG</a>
        <a href = '/projects/' class = "homelink">PROJECTS</a>
        <a href = '/music/' class = "homelink">MUSIC</a>
        <a href = '/about/' class = "homelink">ABOUT</a>
      </nav>

    </header>





    {% include analytics.html %}
  </body>
</html>



