---

---

<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calistoga">

  </head>

  <body class = "container">

    <div class='picofme col-12 col-sm-7'></div>



    <header class = "homepageheader col-12 col-sm-5">

      <div class="site-info homepagename">
        <h1 class="site-name"><a href="/" style = "font-size: 80px;">Angad Pfuetzner</a></h1>
      </div>

      <nav class = "homenav">
        <a href = '/blog/' class = "homelink">BLOG</a>
        <a href = '/projects/' class = "homelink">PROJECTS</a>
        <a href = '/music/' class = "homelink">MUSIC</a>
        <a href = '/about/' class = "homelink">ABOUT</a>
      </nav>

    </header>





    {% include analytics.html %}
  </body>
</html>



