.bg {
	display: flex;
	margin: 0;
	padding-left: 0 !important;
}

.homepageheader {
	display: flex;
	flex-wrap: wrap;
	width:40%;

	background-image: url("/images/parchment.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.homepagename {
	width: 100%;
	font-size: 125%;
    text-align: center;
    font-family: 'CALISTOGA';
}

.picofme {
	width: 60%;
	background-image: url("/images/AngadSmile2.jpg");

	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.homenav {
	flex-flow: wrap;
	font-family: 'CALISTOGA';
}

.homelink {
	width: 100%;
    text-align: center;
}

