.mainimg {
	display: flex;
	justify-content: center;
	align-items: center;
	width:50%;
	height:auto;
}


.bg {
	display: flex;
	justify-content: center;
}

.homepageheader {
	display: flex;
	flex-wrap: wrap;
	width:50%;
}