.bg {
	display: flex;
	margin: 0;
}

.homepageheader {
	display: flex;
	flex-wrap: wrap;
	width:40%;

	background-image: url("/images/parchment.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.homepagename {
	width: 100%;
}

.picofme {
	width: 60%;
	background-image: url("/images/AngadSmile2.jpg");

	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.homenav {
	flex-flow: wrap;
}

.homelink {
	width: 100%;
    text-align: center;
}