header {
	width: 100%;
	border: none;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	width: 70%;
	display: flex;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	
}

nav a {
	order: 1;
}

.current {
	background-color: #d426f5;
	color: green;
}

nav a:hover{
	background-color: #ddd;
  	color: black;
}