header {
	width: 100%;
	border: none;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	width: 50%;
	display: flex;
	background-color: transparent;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 25px;
}

nav a {
	order: 1;
	text-decoration: none;
}

.current {
	color: green;
}

nav a:hover{
  	color: black;
}

.site-info {
	width: 50%;
	display: flex;
	text-decoration: none;
	justify-content: flex-start;
	padding: 10px;
	font-size: 30px;
}

