header {
	width: 100%;
	border: none;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	width: 40%;
	display: flex;
	background-color: transparent;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 25px;
	margin-right: 20px;
	color: black;
}

nav a {
	order: 1;
	text-decoration: none;
}

.current {
	color: green;
}

nav a:hover{
  	color: red;
}

.site-info {
	width: 40%;
	display: flex;
	text-decoration: none;
	justify-content: flex-start;
	padding-left: 10px;
	align-items: center;
}

